
<div class="container color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}">
  {%- if section.settings.heading != blank -%}
    <div class="row">
      <div class="col-12">
        <h2 class="my-4 text-center">{{ section.settings.heading }}</h2>
      </div>
    </div>
  {%- endif -%}
  {% if section.settings.sub_heading != blank %}
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4 text-center">{{ section.settings.sub_heading }}</h3>
      </div>
    </div>
  {% endif %}

  <div class="row">
    {% for block in section.blocks %}
      <div class="col-12">
        {% if block.settings.image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {% else %}
          {% render 'responsive-image' with block.settings.image, alt: block.settings.image.alt %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Designers Gallery"
  },
  "class": "custom-section--designers-gallery",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": "Heading Text"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": {
        "en": "Sub Heading"
      },
      "default": "Sub-heading Text"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          },
          "info": {
            "en": "1000 x 525px recommended"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          },
          "info": {
            "en": "Optional"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "info": {
            "en": "Optional"
          }
        },
        {
          "type": "richtext",
          "id": "description",
          "label": {
            "en": "Description"
          },
          "info": {
            "en": "Optional"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Designers Gallery"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}